* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

pre {
    margin: 0;
    margin-bottom: -1em;
}

.top {
    margin-top: 15em;
}